<!-- Contenedor del selector -->
<div class="relative inline-block text-left" id="customLangSelector">
    <button id="langBtn"
        class="inline-flex items-center justify-center w-10 h-10 rounded border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 focus:outline-none">
        <img id="currentFlag" src="/static/img/flags/es.png" alt="Idioma actual" class="w-6 h-4" />
    </button>

    <div id="langMenu"
        class="origin-top-right absolute right-0 mt-2 w-auto min-w-fit rounded-md shadow-lg bg-white dark:bg-gray-800 ring-1 ring-black ring-opacity-5 hidden z-50">

        <ul class="py-1 text-sm text-gray-700 dark:text-gray-100" role="menu">
            <!-- Idiomas (añade o ajusta según necesites) -->
            <li><a href="#" data-lang="ar"
                    class="flex justify-center items-center px-6 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"><img
                        src="/static/img/flags/ar.png" class="w-5 h-3 mr-2" /> AR</a></li>
            <li><a href="#" data-lang="zh"
                    class="flex justify-center items-center px-6 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"><img
                        src="/static/img/flags/zh.png" class="w-5 h-3 mr-2" /> ZH</a></li>
            <li><a href="#" data-lang="ko"
                    class="flex justify-center items-center px-6 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"><img
                        src="/static/img/flags/ko.png" class="w-5 h-3 mr-2" /> KO</a></li>
            <li><a href="#" data-lang="de"
                    class="flex justify-center items-center px-6 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"><img
                        src="/static/img/flags/de.png" class="w-5 h-3 mr-2" /> DE</a></li>
            <li><a href="#" data-lang="en"
                    class="flex justify-center items-center px-6 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"><img
                        src="/static/img/flags/en.png" class="w-5 h-3 mr-2" /> EN</a></li>
            <li><a href="#" data-lang="fr"
                    class="flex justify-center items-center px-6 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"><img
                        src="/static/img/flags/fr.png" class="w-5 h-3 mr-2" /> FR</a></li>
            <li><a href="#" data-lang="hi"
                    class="flex justify-center items-center px-6 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"><img
                        src="/static/img/flags/hi.png" class="w-5 h-3 mr-2" /> HI</a></li>
            <li><a href="#" data-lang="it"
                    class="flex justify-center items-center px-6 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"><img
                        src="/static/img/flags/it.png" class="w-5 h-3 mr-2" /> IT</a></li>
            <li><a href="#" data-lang="ja"
                    class="flex justify-center items-center px-6 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"><img
                        src="/static/img/flags/ja.png" class="w-5 h-3 mr-2" /> JA</a></li>
            <li><a href="#" data-lang="pt"
                    class="flex justify-center items-center px-6 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"><img
                        src="/static/img/flags/pt.png" class="w-5 h-3 mr-2" /> PT</a></li>
            <li><a href="#" data-lang="ru"
                    class="flex justify-center items-center px-6 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"><img
                        src="/static/img/flags/ru.png" class="w-5 h-3 mr-2" /> RU</a></li>
            <li><a href="#" data-lang="es"
                    class="flex justify-center items-center px-6 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"><img
                        src="/static/img/flags/es.png" class="w-5 h-3 mr-2" /> ES</a></li>
            <li><a href="#" data-lang="tr"
                    class="flex justify-center items-center px-6 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"><img
                        src="/static/img/flags/tr.png" class="w-5 h-3 mr-2" /> TR</a></li>
        </ul>
    </div>
</div>